

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.4s ease;
}

.slide {
  min-width: 100%;
}

.slide img {
 

  width: 100%;
}

.logo img{

  width:40%;
  height:10%;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .slide {
      flex: 0 0 100%;
  }
}

